<div class="container-fluid indent">
	<h3>Fotomap NodeJS & AngularJS application</h3>
	<h4>Designed by Greg Kessman</h4>
	<br>
	<h5>Fotomap is an application utilizing Google Maps' & Instagram's API's to leverage a small location-based photo fetching service. Clicking anywhere on the map will return a set of 20 pictures within the provided radius of the latitude & longitude clicked.</h5>
	<br>
	<h4><a href="http://www.github.com/gkessman/fotomap.git" target="blank">Fork me on GitHub!</a></h4>
</div>